<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @timeline.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @timeline.summary %>
</p>


<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>
